Project_GitHub.zip
Project_GitHub/
push.sh
ignore.ipynb
./MainFigures_MainTable/Fig4_OddsRatio_GenMetS_and_17PRS_to_diseases_UKBwomen_ATTRAcT/OddsRatio_18PRS_in_UKB_disease_case_control.tiff
./MainFigures_MainTable/Fig4_OddsRatio_GenMetS_and_17PRS_to_diseases_UKBwomen_ATTRAcT/OddsRatio_18PRS_in_ATTRACT_disease_case_control.tiff
./MainFigures_MainTable/Fig2B_MetS_Prevalence/Fig2B.tiff
./MainFigures_MainTable/Fig1_overview/Figure 1.tiff
./MainFigures_MainTable/Fig5_AUC_GenMetS_in_prediction_multimorbidity/Feature_Importance_GenMetS_cov_Oct2.tiff
./MainFigures_MainTable/Fig5_AUC_GenMetS_in_prediction_multimorbidity/ROC_XGboost_100_age.tiff
./MainFigures_MainTable/Fig5_AUC_GenMetS_in_prediction_multimorbidity/GenMetS_prediction_AUC_for_multimorbidity.tiff
./MainFigures_MainTable/Fig5_AUC_GenMetS_in_prediction_multimorbidity/multimorbidity_M2model_SHAP_feature_importance.tiff
./MainFigures_MainTable/Fig5_AUC_GenMetS_in_prediction_multimorbidity/Feature_Importance_cov_Oct2.tiff
./MainFigures_MainTable/Fig5_AUC_GenMetS_in_prediction_multimorbidity/ROC_XGboost_100_Oct2.tiff
./MainFigures_MainTable/Fig5_AUC_GenMetS_in_prediction_multimorbidity/GenMetS_prediction_AUC_for_multimorbidity_July25.tiff
./MainFigures_MainTable/Fig5_AUC_GenMetS_in_prediction_multimorbidity/ROC_code_data/figures/ROC_XGboost_100_age.tiff
./MainFigures_MainTable/Fig5_AUC_GenMetS_in_prediction_multimorbidity/ROC_code_data/figures/Feature_Importance_GenMetS_cov.tiff
./MainFigures_MainTable/Fig6_GenMetS_vs_GrowthTraj_6years/Growth_Trajectory_class_vs_MetS.tiff
./Project_GitHub/MainFigures_MainTable/Fig4_OddsRatio_GenMetS_and_17PRS_to_diseases_UKBwomen_ATTRAcT/OddsRatio_18PRS_in_UKB_disease_case_control.tiff
./Project_GitHub/MainFigures_MainTable/Fig4_OddsRatio_GenMetS_and_17PRS_to_diseases_UKBwomen_ATTRAcT/OddsRatio_18PRS_in_ATTRACT_disease_case_control.tiff
./Project_GitHub/MainFigures_MainTable/Fig2B_MetS_Prevalence/Fig2B.tiff
./Project_GitHub/MainFigures_MainTable/Fig1_overview/Figure 1.tiff
./Project_GitHub/MainFigures_MainTable/Fig5_AUC_GenMetS_in_prediction_multimorbidity/Feature_Importance_GenMetS_cov_Oct2.tiff
./Project_GitHub/MainFigures_MainTable/Fig5_AUC_GenMetS_in_prediction_multimorbidity/ROC_XGboost_100_age.tiff
./Project_GitHub/MainFigures_MainTable/Fig5_AUC_GenMetS_in_prediction_multimorbidity/GenMetS_prediction_AUC_for_multimorbidity.tiff
./Project_GitHub/MainFigures_MainTable/Fig5_AUC_GenMetS_in_prediction_multimorbidity/multimorbidity_M2model_SHAP_feature_importance.tiff
./Project_GitHub/MainFigures_MainTable/Fig5_AUC_GenMetS_in_prediction_multimorbidity/Feature_Importance_cov_Oct2.tiff
./Project_GitHub/MainFigures_MainTable/Fig5_AUC_GenMetS_in_prediction_multimorbidity/ROC_XGboost_100_Oct2.tiff
./Project_GitHub/MainFigures_MainTable/Fig5_AUC_GenMetS_in_prediction_multimorbidity/GenMetS_prediction_AUC_for_multimorbidity_July25.tiff
./Project_GitHub/MainFigures_MainTable/Fig5_AUC_GenMetS_in_prediction_multimorbidity/ROC_code_data/figures/ROC_XGboost_100_age.tiff
./Project_GitHub/MainFigures_MainTable/Fig5_AUC_GenMetS_in_prediction_multimorbidity/ROC_code_data/figures/Feature_Importance_GenMetS_cov.tiff
./Project_GitHub/MainFigures_MainTable/Fig6_GenMetS_vs_GrowthTraj_6years/Growth_Trajectory_class_vs_MetS.tiff
./Project_GitHub/SupplementaryFigures/SubFig_GenMetS_and_17PRS_to_ObsMetS/barplot_18PRS_to_ObsMetS.tiff
./Project_GitHub/SupplementaryFigures/SubFig_ancestry_reclassification_cohort/ValCohort3_ancestry.tiff
./Project_GitHub/SupplementaryFigures/SubFig_ancestry_reclassification_cohort/DiscoveryCohort_ancestry.tiff
./Project_GitHub/SupplementaryFigures/SubFig_ancestry_reclassification_cohort/ValCohort2_ancestry.tiff
./Project_GitHub/SupplementaryFigures/SubFig_ancestry_reclassification_cohort/Valcohort1_ancestry.tiff
./Project_GitHub/SupplementaryFigures/SubFig_ancestry_reclassification_cohort/UKB_ancestry_c10.tiff
./Project_GitHub/SupplementaryFigures/SubFig_UKB_MetS_prevalence_vs_sex/UKB_MetS_vs_Sex.tiff
./Project_GitHub/SupplementaryFigures/SubFig_GenMetS_vs_disease_onset/GenMetS_disease_onset_10percentile_with_table.tiff
./Project_GitHub/SupplementaryFigures/SubFig_GenMetS_SNP_Pathway_Analysis/FUMA-Pathway-analysis-results-Reactome.tiff
./Project_GitHub/SupplementaryFigures/SubFig_GenMetS_SNP_Pathway_Analysis/FUMA-Pathway-analysis-results-Kegg.tiff
./Project_GitHub/SupplementaryFigures/SubFig_GenMetS_BMIPGS_to_longitudinalBMI_children/Comparison_BMIPRS_GenMetS_to_longitudinalBMI_child.tiff
./Project_GitHub/SupplementaryFigures/SubFig_GenMetS_diseaseAOO/GenMetS_diseaseAOO_ukb_men.tiff
./Project_GitHub/SupplementaryFigures/SubFig_GenMetS_diseaseAOO/GenMetS_diseaseAOO_ukb_women.tiff
./Project_GitHub/SupplementaryFigures/SubFig_GenMetS_diseaseAOO/GenMetS_diseaseAOO_attract_men.tiff
./Project_GitHub/SupplementaryFigures/SubFig_GenMetS_diseaseAOO/GenMetS_diseaseAOO_attract_women.tiff
./SupplementaryFigures/SubFig_GenMetS_and_17PRS_to_ObsMetS/barplot_18PRS_to_ObsMetS.tiff
./SupplementaryFigures/SubFig_ancestry_reclassification_cohort/ValCohort3_ancestry.tiff
./SupplementaryFigures/SubFig_ancestry_reclassification_cohort/DiscoveryCohort_ancestry.tiff
./SupplementaryFigures/SubFig_ancestry_reclassification_cohort/ValCohort2_ancestry.tiff
./SupplementaryFigures/SubFig_ancestry_reclassification_cohort/Valcohort1_ancestry.tiff
./SupplementaryFigures/SubFig_ancestry_reclassification_cohort/UKB_ancestry_c10.tiff
./SupplementaryFigures/SubFig_UKB_MetS_prevalence_vs_sex/UKB_MetS_vs_Sex.tiff
./SupplementaryFigures/SubFig_GenMetS_vs_disease_onset/GenMetS_disease_onset_10percentile_with_table.tiff
./SupplementaryFigures/SubFig_GenMetS_SNP_Pathway_Analysis/FUMA-Pathway-analysis-results-Reactome.tiff
./SupplementaryFigures/SubFig_GenMetS_SNP_Pathway_Analysis/FUMA-Pathway-analysis-results-Kegg.tiff
./SupplementaryFigures/SubFig_GenMetS_BMIPGS_to_longitudinalBMI_children/Comparison_BMIPRS_GenMetS_to_longitudinalBMI_child.tiff
./SupplementaryFigures/SubFig_GenMetS_diseaseAOO/GenMetS_diseaseAOO_ukb_men.tiff
./SupplementaryFigures/SubFig_GenMetS_diseaseAOO/GenMetS_diseaseAOO_ukb_women.tiff
./SupplementaryFigures/SubFig_GenMetS_diseaseAOO/GenMetS_diseaseAOO_attract_men.tiff
./SupplementaryFigures/SubFig_GenMetS_diseaseAOO/GenMetS_diseaseAOO_attract_women.tiff
