[jobinfo]
created_at=2023-12-18 04:22:25
title=MetS-SNP-exact-pos-p0.001

[version]
FUMA=v1.6.1
MsigDB=v2023.1.Hs
WikiPathways=20191010
GWAScatalog=e110_r2023-07-20

[params]
gtype=file
gval=MetS-SNPs-exact-position-within-gene-for-FUMA.txt
bkgtype=select
bkgval=all
ensembl=v102
gsFileN=0
gsFiles=NA
gene_exp=GTEx/v8/gtex_v8_ts_avg_log2TPM:GTEx/v8/gtex_v8_ts_general_avg_log2TPM
MHC=0
adjPmeth=fdr_bh
adjPcut=0.001
minOverlap=5
